body{
     background:purple;
     border-style:dotted;
     border width:6px;
     border-left-width: 8px;
     border-right-width:12px;
     border-color:yellow;
     padding: 10px;
     padding-top: 20px;
     padding-bottom: 20px;
     padding-right: 25px;
     padding-left: 25px;

}



h1{color: lime;
   margin-left: 40px
    text align: center;
}
}


ol{font-style: 20px;
}


ul{font-style: 60px;
}



  
     


